:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--lightgray);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
}


/* QR Card */

.container {
    width: 314px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 106vh;
    overflow: auto;
    flex-direction: column;
    

}

.qr-card {
    text-align: center;
    padding: 15px;
    background-color: var(--white);
    border-radius: 15px;

}

.qr-card img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: auto;

}

.text1 {

    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    padding: 14px;
    color: var(--darkblue);
}

.text2 {
    margin-left: 25px;
    margin-right: 25px;
    color: var(--grayishblue);
    font-size: 15px;
    font-style: center;
    text-align: center;
    padding-bottom: 20px;
}

/* Footer */

footer {
    padding-top: 50px;
    display: block;

}

.footer {
    position: fixed;
    display: block;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

.footer a {
    text-decoration: none;
    text-align: center;
}
